:root {
  --gradient-from: #ff4581;
  --gradient-to: #4388dd;
  --sq-gradient: linear-gradient(293.04deg, var(--gradient-from) 4.09%, var(--gradient-to) 70.16%);
  --sq-background-gradient: linear-gradient(293.04deg, rgba(255, 69, 129, 0.1) 4.09%, rgba(67, 136, 221, 0.1) 70.16%);
  --primary: #007bff;
  --primary-secondary: #6c757d;
  --error: #f1585b;
  --error-opac: #f1585b1f;
  --success: #65cd45;
  --success-opac: #65cd451f;
  --warning: #ffc107;
  --info: #17a2b8;
  --weak: #ccc;
  --weak-opac: #cccccc1f;

  /*New colors*/
  --gray200: #f4f6f8;
  --gray300: #dfe3e8;
  --gray400: #c4cdd5;
  --gray500: #919eab;
  --gray700: #454f58;
  --gray900: #1a202c;

  --icon-size: 178px;
}

/* ICONS */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&family=Open+Sans&display=swap');
